HELP.md
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/.data/dbeaver/.data/.cloudbeaver.runtime.conf
/.data/dbeaver/.data/.database-credentials.dat
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/.projects/GlobalConfiguration/.markers.snap
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/.projects/GlobalConfiguration/.syncinfo.snap
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/0.snap
/.data/dbeaver/.metadata/.http-sessions/2375307620481__0.0.0.0_1odk4q1lab6azjvx5qww2xs380
/.data/mongo/_mdb_catalog.wt
/.data/dbeaver/.data/cb.h2v2.dat.mv.db
/.data/dbeaver/.data/cb.h2v2.dat.trace.db
/.data/mongo/collection-0--6847460684788439408.wt
/.data/mongo/collection-2--6847460684788439408.wt
/.data/mongo/collection-4--6847460684788439408.wt
/.data/mongo/collection-7--6847460684788439408.wt
/.data/redis/dump.rdb
/.data/mongo/index-1--6847460684788439408.wt
/.data/mongo/index-3--6847460684788439408.wt
/.data/mongo/index-5--6847460684788439408.wt
/.data/mongo/index-6--6847460684788439408.wt
/.data/mongo/index-8--6847460684788439408.wt
/.data/mongo/index-9--6847460684788439408.wt
/.data/mongo/mongod.lock
/.data/zookeeper/myid
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.data/dbeaver/GlobalConfiguration/.dbeaver/project-settings.json
/.data/dbeaver/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.data/mongo/sizeStorer.wt
/.data/zookeeper/version-2/snapshot.0
/.data/mongo/storage.bson
/.data/mongo/WiredTiger
/.data/mongo/WiredTiger.lock
/.data/mongo/WiredTiger.turtle
/.data/mongo/WiredTiger.wt
/.data/mongo/WiredTigerHS.wt
